.nav-div {
  background-color: #1E90FF; /* Dodger Blue */
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0%;
  width: 100%;
  margin-top: -30px;
  
  display: flex;
  justify-content: space-between;
}


.nav-div > div > h2 {
  margin: 0%;
  padding-left: 10px;
  align-items: center;
  letter-spacing: 2px;
}

.nav-div > div {
  align-content: center;
}

.log {
  background-color: #4682B4; /* Steel Blue */
  font-size: 16px;
  font-weight: bold;
}

.log:hover {
  background-color: white;
  color: #4682B4; /* Steel Blue */
}
.nav-div>div>a{
  color: white;
}